{
  "extends" : "eslint:recommended",
  "ecmaFeatures" : {
    "blockBindings"  : true,
    "arrowFunctions" : true
  },
  "rules" : {
    "space-after-keywords" : [2, "always"],
    "space-before-blocks"  : 2,
    "brace-style"          : [2, "stroustrup", { "allowSingleLine" : true}],
    "comma-dangle"         : [2, "always"],
  },
  "env" : { "node" : true },
}
